<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [1]:
my_string1 = 'Hola'
my_string2 = "señor"
print(my_string1 + ' ' + my_string2)

Hola señor

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [2]:
my_int = 210
print(my_int)
print(type(my_int))

210
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [3]:
my_string = "210"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [4]:
my_string = "350"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [6]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [5]:
print("Addition ", 10+10)
print("Subtraction ", 50-20)
print("Multiplication ", 25*32)
print("Division ", 100/3)
print('exponent', 3**5)

Addition  20
Subtraction  30
Multiplication  800
Division  33.333333333333336
exponent 243

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [7]:
print(100/30)
print(1.0/30)

3.3333333333333335
0.03333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [8]:
my_list = ['Vaca', 'Muuuu', 1,2,3]
print(my_list)

['Vaca', 'Muuuu', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [9]:
my_list = ['Vaca', 'Muuuu', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Vaca
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [10]:
my_list = ['Pollito','Pio',1,2,3]
my_list[2] = 'go'
print(my_list)

['Pollito', 'Pio', 'go', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [11]:
my_list = ['Coyote','Pajarito',1,2,3]
print(my_list[1:3])

['Pajarito', 1]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [12]:
print(my_list[2:])

[1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [13]:
print(my_list[:3])

['Coyote', 'Pajarito', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [14]:
mi_lista=["Vaca","Coyote"]
mi_lista.append('Gato')
print(mi_lista)
mi_lista.remove("Gato")
print(mi_lista)

['Vaca', 'Coyote', 'Gato']
['Vaca', 'Coyote']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [15]:
mi_tupla = ("Gato","bonito","comiendo")

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [16]:
mi_tupla = ("Gato","bonito","comiendo")
print(mi_tupla[1:])

('bonito', 'comiendo')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [17]:
stock_list = ['Abeja','Golondrina','Iguana','Abejorro','Iguana','Foca','Foca','Golondrina']
stock_set = set(stock_list)
print(stock_set)

{'Abeja', 'Foca', 'Abejorro', 'Golondrina', 'Iguana'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [18]:
mi_diccionario = {'Panadería':'Pan', 'D1':'Vino', 'RAE':'Alfabeto'}
print(mi_diccionario['RAE'])

Alfabeto

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [19]:
mi_diccionario['RAE'] = 'Manejan el alfabeto'
print(mi_diccionario['RAE'])

Manejan el alfabeto

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [20]:
print(mi_diccionario.keys())

dict_keys(['Panadería', 'D1', 'RAE'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [21]:
my_str = 'Buenas tardes'
print(my_str[8:])

ardes

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [23]:
print('Counting the number of i appears in this sentence'.count('i'))
print('The first time i appears in this sentence'.find('i'))
print('all the a in this sentence now becomes i'.replace('a','i'))

4
5
ill the i in this sentence now becomes i

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [24]:
Time = '2000-01-05 10:00:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2000-01-05 10:00:00
10

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [25]:
my_time = 'Hour: {}, Minute:{}'.format('07','17')
print(my_time)

Hour: 07, Minute:17

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [26]:
print('the e number is %f'%2.718)
print('%s %s compañero'%('Buenas','tardes'))

the e number is 2.718000
Buenas tardes compañero

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [27]:
print(1 == 2)
print(7 == 7)
print(1 != 20)
print(50 >= 50)
print(60 >= 12)

False
True
True
True
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [28]:
print(3 > 1 and 6 > 7)
print(2000 > 100 and 33 < 120) 
print(200 > 155 or 3 < 2)
print(20 < 10 and 30 < 20)

False
True
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [29]:
print((6 > 4 or 2 < 6) and (3!=9 and 12>9) and not ( 12 < 8 or 4 < 12 and (5!=15 and 20>15)))
print(6 > 4 or 2 < 6 and (3!=9 and 12>4) and not ( 12 < 8 or 4 < 12 and (5!=15 and 24>18)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [30]:
j = 6
if j == 6:
    print('j==6 is True')

j==6 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [31]:
p = 3 > 5
q = 20 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

p is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [32]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [33]:
i = 0
while i < 7:
    print(i,end=" ")
    i += 1

0 1 2 3 4 5 6

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [35]:
for i in [5,4,3,2,1]:
    print(i, end=" ")

5 4 3 2 1

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [37]:
stocks = ['Manzana','Gugol','Iguana','Foca','Foquita','Vaca', 'GG']
selected = ['Gugol']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(new_list)

['Manzana', 'Iguana', 'Foca', 'Foquita', 'Vaca', 'GG']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [38]:
stocks = ['Manzana','Gugol','Iguana','Foca','Foquita','Vaca', 'GG']
for i in stocks:
    print(i)
    if i == 'Foca':
        break

Manzana
Gugol
Iguana
Foca

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [39]:
stocks = ['Manzana','Gugol','Iguana','Foca','Foquita','Vaca', 'GG']
for i in stocks:
    if i == 'Foca':
        continue
    print(i)

Manzana
Gugol
Iguana
Foquita
Vaca
GG

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [40]:
cuadrados = []
for i in [6,7,8,9,10]:
    cuadrados.append(i**2)
print(cuadrados)

[36, 49, 64, 81, 100]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [41]:
lista = [6,7,8,9,10]
cuadrados = [x**2 for x in lista]
print(cuadrados)

[36, 49, 64, 81, 100]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [42]:
stocks = ['Manzana','Gugol','Iguana','Foca','Foquita','Vaca', 'GG']
selected = ['Gugol']
new_list = [x for x in stocks if x in selected]
print(new_list)

['Gugol']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [43]:
print([(x, y) for x in [5,6,7] for y in [6,1,5] if x != y])
print([str(x)+' vs '+str(y) for x in ['Gato','Gugol','Ryzen','Feisbú'] for y in ['Foca','Vaca','Golondrina','Perro'] if x!=y])

[(5, 6), (5, 1), (6, 1), (6, 5), (7, 6), (7, 1), (7, 5)]
['Gato vs Foca', 'Gato vs Vaca', 'Gato vs Golondrina', 'Gato vs Perro', 'Gugol vs Foca', 'Gugol vs Vaca', 'Gugol vs Golondrina', 'Gugol vs Perro', 'Ryzen vs Foca', 'Ryzen vs Vaca', 'Ryzen vs Golondrina', 'Ryzen vs Perro', 'Feisbú vs Foca', 'Feisbú vs Vaca', 'Feisbú vs Golondrina', 'Feisbú vs Perro']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [44]:
def producto(x,y):
    return x*y
print(producto(7,7))
print(producto(-5,2))

49
-10

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [45]:
def saludar():
    print("Hola bb")

saludar()

Hola bb

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [46]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [48]:
print(range(100))
print(range(1,13))
print(range(1,100,3))

range(0, 100)
range(1, 13)
range(1, 100, 3)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [49]:
animals = ['Cacatua','Gato','Perro','Foca','Iguana','Aguila', 'Perro', 'Vaca']
print('The length of animals is {}'.format(len(animals)))
for i in range(len(animals)):
    print(animals[i])

The length of animals is 8
Cacatua
Gato
Perro
Foca
Iguana
Aguila
Perro
Vaca

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [51]:
list =  [1,2,3,4,5]
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [52]:
list = ["vaca",1,"perro"]
print(list)
del list
list

['vaca', 1, 'perro']

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [54]:
animals = ['Cacatua','Gato','Perro','Foca','Iguana','Aguila', 'Perro', 'Vaca']
list(map(len,animals))

[7, 4, 5, 4, 6, 6, 5, 4]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [55]:
list(map(lambda x: x**3, range(10)))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [56]:
list(map(lambda x, y: x+y, [10,20,30,40,50],[50,40,30,20,10]))

[60, 60, 60, 60, 60]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [57]:
sorted([15,7772,543,24,121])

[15, 24, 121, 543, 7772]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [58]:
precios = [('Mazana',1000),('Pera',1500),('Sandía',7000),('Aguacate',3000),('Melón',4000)]
sorted(precios, key = lambda x: x[1])

[('Mazana', 1000),
 ('Pera', 1500),
 ('Aguacate', 3000),
 ('Melón', 4000),
 ('Sandía', 7000)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [59]:
precios = [('Mazana',1000),('Pera',1500),('Sandía',7000),('Aguacate',3000),('Melón',4000)]
sorted(precios, key = lambda x: x[1],reverse = True)

[('Sandía', 7000),
 ('Melón', 4000),
 ('Aguacate', 3000),
 ('Pera', 1500),
 ('Mazana', 1000)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [60]:
precios = [('Mazana',1000),('Pera',1500),('Sandía',7000),('Aguacate',3000),('Melón',4000)]
precios.sort(key = lambda x: x[1])
print(precios)

[('Mazana', 1000), ('Pera', 1500), ('Aguacate', 3000), ('Melón', 4000), ('Sandía', 7000)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [71]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [65]:
class gato:
    def __init__(self, edad, raza, peso):
        self.edad = edad
        self.raza = raza
        self.peso = peso
 
    def update(self, edad, peso):
        self.edad = edad
        self.peso = peso
 
    def miau(self):
        print("Miauuuuuuuu")

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [72]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [66]:
ru = gato(3, "criollo", 5)
mini_bambi = gato(1, "siames", 2)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [73]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [68]:
ru.update(4, 4)
print(ru.edad)
print(ru.peso)
ru.miau()
mini_bambi.update(2, 3)
print(mini_bambi.edad)
print(mini_bambi.peso)
mini_bambi.miau()

4
4
Miauuuuuuuu
2
3
Miauuuuuuuu

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [74]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [75]:
ru.nombre = 'Ru'
ru.nombre

'Ru'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [76]:
dir(ru)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'edad',
 'miau',
 'nombre',
 'peso',
 'raza',
 'update']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [77]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [81]:
class miniGato(gato):
  def __init__(self,edad, raza, peso, vacunado):
    super().__init__(edad, raza, peso)
    self.vacunado = vacunado

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [83]:
mini_mini_bambi = miniGato(0.5, "siames", 1,True)
print(mini_mini_bambi.edad)
print(mini_mini_bambi.raza)
mini_mini_bambi.miau()

0.5
siames
Miauuuuuuuu

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [84]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [85]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [86]:
precios = [150.2, 23.6, 567.8, 1333.5, 56.3, 896.1]
price_array = np.array(precios)
print(price_array, type(price_array))

[ 150.2   23.6  567.8 1333.5   56.3  896.1] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [87]:
arr = np.array([[2,4],[1,6]])
print(arr, type(arr))

[[2 4]
 [1 6]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [88]:
print(arr.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [89]:
print(arr[0])
print(arr[1])

[2 4]
[1 6]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [90]:
print('the first column: ', arr[:,0])
print('the second column: ', arr[:,1])

the first column:  [2 1]
the second column:  [4 6]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [91]:
print(np.log(precios))

[5.01196774 3.16124671 6.34176924 7.19556234 4.03069454 6.79805201]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [92]:
print(np.mean(precios))
print(np.std(precios))
print(np.sum(precios))
print(np.max(precios))

504.5833333333333
483.43819810694407
3027.5
1333.5

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [93]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [106]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [94]:
precios = [150.2, 23.6, 567.8, 1333.5, 56.3, 896.1]
p = pd.Series(precios)
p

0     150.2
1      23.6
2     567.8
3    1333.5
4      56.3
5     896.1
dtype: float64

We can customize the indices of a new Series:

In [107]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [95]:
p = pd.Series(precios,index = ['a','b','c','d','e','f'])
p

a     150.2
b      23.6
c     567.8
d    1333.5
e      56.3
f     896.1
dtype: float64

Or we can change the indices of an existing Series:

In [108]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [96]:
p.index = [6,5,4,3,2,1]
p

6     150.2
5      23.6
4     567.8
3    1333.5
2      56.3
1     896.1
dtype: float64

Series is like a list since it can be sliced by index:

In [109]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [97]:
print(p[1:])
print(p[:-2])

5      23.6
4     567.8
3    1333.5
2      56.3
1     896.1
dtype: float64
6     150.2
5      23.6
4     567.8
3    1333.5
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [110]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [98]:
print(p[4])
p[4] = 0
print(p)

567.8
6     150.2
5      23.6
4       0.0
3    1333.5
2      56.3
1     896.1
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [111]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [99]:
p = pd.Series(precios, name = 'Apple Price List')
print(p)
print(p.name)

0     150.2
1      23.6
2     567.8
3    1333.5
4      56.3
5     896.1
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [112]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [100]:
print(p.describe())

count       6.000000
mean      504.583333
std       529.580013
min        23.600000
25%        79.775000
50%       359.000000
75%       814.025000
max      1333.500000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [113]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [103]:
time_index1 = pd.date_range('2017-01-01',periods = len(p),freq = 'D')
print(time_index1)
p.index = time_index1
print(p)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01     150.2
2017-01-02      23.6
2017-01-03     567.8
2017-01-04    1333.5
2017-01-05      56.3
2017-01-06     896.1
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [114]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [104]:
p.index = [6,5,4,3,2,1]
print(p)
print(p[1])

6     150.2
5      23.6
4     567.8
3    1333.5
2      56.3
1     896.1
Name: Apple Price List, dtype: float64
896.1

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [115]:
print(s.iloc[1])

145.83

In [116]:
print(p.iloc[1])

23.6

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [117]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [118]:
p.index = time_index
print(p['2017-01-03'])

567.8

We can even access to a range of dates:

In [119]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [120]:
print(p['2017-01-02':'2017-01-05'])

2017-01-02      23.6
2017-01-03     567.8
2017-01-04    1333.5
2017-01-05      56.3
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [121]:
print(p[p < np.mean(p)] )
print([(p > np.mean(p)) & (p < np.mean(p) + 1.64*np.std(p))])

2017-01-01    150.2
2017-01-02     23.6
2017-01-05     56.3
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03     True
2017-01-04    False
2017-01-05    False
2017-01-06     True
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [122]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 44.5 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=478c801cf8ea3ead32369b76f3ce197302d782916d67207cd246f71cd2ca9233
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [125]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.715, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.23, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.191, 'beta3Year': None, 'enterpriseToEbitda': 22.502, '52WeekChange': 0.24712789, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58672, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.30302167, 'priceToBook': 38.30886, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2496290881536, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.081242, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.228394, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 146.55, 'regularMarketOpen': 147.01, 'twoHundredDayAverage': 138.93898, 'trailingAnnualDividendYield': 0.0056977137, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.17, 'navPrice': None, 'averageDailyVolume10Day': 73218650, 'regularMarketPreviousClose': 146.55, 'fiftyDayAverage': 146.59572, 'trailingAnnualDividendRate': 0.835, 'open': 147.01, 'toCurrency': None, 'averageVolume10days': 73218650, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 146.55, 'currency': 'USD', 'trailingPE': 29.114136, 'regularMarketVolume': 68385078, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2458288652288, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77536093, 'dayLow': 146.55, 'ask': 148.41, 'askSize': 1100, 'volume': 68385078, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.4, 'tradeable': False, 'dividendYield': 0.006, 'bidSize': 1400, 'dayHigh': 149.17, 'regularMarketPrice': 148.715, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655164  24.291441  23.514538  ...  270597600        0.0             0
2016-01-05  24.379041  24.402094  23.609056  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749164  23.083439  22.230461  ...  324377600        0.0             0
2016-01-08  22.719195  22.848294  22.306538  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898671  41.059104  40.630480  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946561  41.150098  40.822044  ...   65920800        0.0             0
2017-12-29  40.831637  40.848397  40.520346  ...  103999600        0.0             0

[503 rows x 7 columns]

In [126]:
gugol = yf.Ticker("GOOG")

# get stock info
print(gugol.info)

# get historical market data
gugol_table = gugol.history(start="2016-01-01",  end="2017-12-31")
gugol_table

{'zip': '94043', 'sector': 'Communication Services', 'fullTimeEmployees': 144056, 'longBusinessSummary': 'Alphabet Inc. provides online advertising services in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. The company offers performance and brand advertising services. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, such as ads, Android, Chrome, hardware, Google Maps, Google Play, Search, and YouTube, as well as technical infrastructure; and digital content. The Google Cloud segment offers infrastructure and data analytics platforms, collaboration tools, and other services for enterprise customers. The Other Bets segment sells internet and TV services, as well as licensing and research and development services. The company was founded in 1998 and is headquartered in Mountain View, California.', 'city': 'Mountain View', 'phone': '650-253-0000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.abc.xyz', 'maxAge': 1, 'address1': '1600 Amphitheatre Parkway', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.34300998, 'profitMargins': 0.2857, 'grossMargins': 0.55723, 'operatingCashflow': 80858996736, 'revenueGrowth': 0.616, 'operatingMargins': 0.28448, 'ebitda': 75552997376, 'targetLowPrice': 2700, 'recommendationKey': 'buy', 'grossProfits': 97795000000, 'freeCashflow': 44609626112, 'targetMedianPrice': 3100, 'currentPrice': 2876.45, 'earningsGrowth': 1.691, 'currentRatio': 3.152, 'returnOnAssets': 0.12759, 'numberOfAnalystOpinions': 9, 'targetMeanPrice': 3106.11, 'debtToEquity': 11.829, 'returnOnEquity': 0.2829, 'targetHighPrice': 3425, 'totalCash': 135863001088, 'totalDebt': 28100999168, 'totalRevenue': 220265005056, 'totalCashPerShare': 203.768, 'financialCurrency': 'USD', 'revenuePerShare': 326.656, 'quickRatio': 3.027, 'recommendationMean': 1.6, 'exchange': 'NMS', 'shortName': 'Alphabet Inc.', 'longName': 'Alphabet Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'GOOG', 'messageBoardId': 'finmb_29096', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 8.166, 'beta3Year': None, 'enterpriseToEbitda': 23.806, '52WeekChange': 0.8376212, 'morningStarRiskRating': None, 'forwardEps': 105.9, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 320168000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 355.83, 'sharesShort': 1772283, 'sharesPercentSharesOut': 0.0027, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.67123, 'netIncomeToCommon': 62928998400, 'trailingEps': 92.187, 'lastDividendValue': None, 'SandP52WeekChange': 0.30302167, 'priceToBook': 8.083776, 'heldPercentInsiders': 0.00043000001, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.48, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 580796862, 'beta': 1.025925, 'enterpriseValue': 1798630277120, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1430092800, 'lastSplitFactor': '10027455:10000000', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 1.662, 'priceToSalesTrailing12Months': 8.701397, 'dateShortInterest': 1632960000, 'pegRatio': 1.36, 'ytdReturn': None, 'forwardPE': 27.161943, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 2439826, 'impliedSharesOutstanding': 666755008, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 2859.21, 'regularMarketOpen': 2865.83, 'twoHundredDayAverage': 2592.4314, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 2882.14, 'navPrice': None, 'averageDailyVolume10Day': 956166, 'regularMarketPreviousClose': 2859.21, 'fiftyDayAverage': 2818.834, 'trailingAnnualDividendRate': None, 'open': 2865.83, 'toCurrency': None, 'averageVolume10days': 956166, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 2861.92, 'currency': 'USD', 'trailingPE': 31.20234, 'regularMarketVolume': 637889, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1916613165056, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 1073723, 'dayLow': 2861.92, 'ask': 2878.76, 'askSize': 1000, 'volume': 637889, 'fiftyTwoWeekHigh': 2936.41, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 1514.62, 'bid': 2876.99, 'tradeable': False, 'dividendYield': None, 'bidSize': 900, 'dayHigh': 2882.14, 'regularMarketPrice': 2876.45, 'logo_url': 'https://logo.clearbit.com/abc.xyz'}

                   Open         High  ...  Dividends  Stock Splits
Date                                  ...
2016-01-04   743.000000   744.059998  ...          0             0
2016-01-05   746.450012   752.000000  ...          0             0
2016-01-06   730.000000   747.179993  ...          0             0
2016-01-07   730.309998   738.500000  ...          0             0
2016-01-08   731.450012   733.229980  ...          0             0
...                 ...          ...  ...        ...           ...
2017-12-22  1061.109985  1064.199951  ...          0             0
2017-12-26  1058.069946  1060.119995  ...          0             0
2017-12-27  1057.390015  1058.369995  ...          0             0
2017-12-28  1051.599976  1054.750000  ...          0             0
2017-12-29  1046.719971  1049.699951  ...          0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [131]:
aapl = aapl_table['Close']['2017']

In [127]:
gugol = gugol_table['Close']['2017']

In [132]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341721
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041643
                ...
2017-12-22    41.906776
2017-12-26    40.843597
2017-12-27    40.850780
2017-12-28    40.965717
2017-12-29    40.522739
Name: Close, Length: 251, dtype: float64

In [133]:
print(gugol)

Date
2017-01-03     786.140015
2017-01-04     786.900024
2017-01-05     794.020020
2017-01-06     806.150024
2017-01-09     806.650024
                 ...
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [136]:
print(aapl['2017-3'])

Date
2017-03-01    33.086288
2017-03-02    32.889843
2017-03-03    33.083920
2017-03-06    32.979774
2017-03-07    33.022377
2017-03-08    32.899303
2017-03-09    32.823563
2017-03-10    32.932442
2017-03-13    32.946644
2017-03-14    32.896942
2017-03-15    33.244869
2017-03-16    33.299301
2017-03-17    33.133625
2017-03-20    33.481544
2017-03-21    33.098114
2017-03-22    33.472076
2017-03-23    33.353741
2017-03-24    33.287468
2017-03-27    33.344273
2017-03-28    34.035389
2017-03-29    34.111134
2017-03-30    34.066158
2017-03-31    34.002262
Name: Close, dtype: float64

In [134]:
print(gugol['2017-3'])

Date
2017-03-01    835.239990
2017-03-02    830.630005
2017-03-03    829.080017
2017-03-06    827.780029
2017-03-07    831.909973
2017-03-08    835.369995
2017-03-09    838.679993
2017-03-10    843.250000
2017-03-13    845.539978
2017-03-14    845.619995
2017-03-15    847.200012
2017-03-16    848.780029
2017-03-17    852.119995
2017-03-20    848.400024
2017-03-21    830.460022
2017-03-22    829.590027
2017-03-23    817.580017
2017-03-24    814.429993
2017-03-27    819.510010
2017-03-28    820.919983
2017-03-29    831.409973
2017-03-30    831.500000
2017-03-31    829.559998
Name: Close, dtype: float64

In [135]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289881
2017-02-03    30.419500
2017-02-06    30.704651
2017-02-07    30.996880
                ...
2017-04-24    33.997524
2017-04-25    34.208176
2017-04-26    34.006992
2017-04-27    34.033028
2017-04-28    33.999886
Name: Close, Length: 61, dtype: float64

In [137]:
gugol['2017-2':'2017-4']

Date
2017-02-01    795.695007
2017-02-02    798.530029
2017-02-03    801.489990
2017-02-06    801.340027
2017-02-07    806.969971
                 ...
2017-04-24    862.760010
2017-04-25    872.299988
2017-04-26    871.729980
2017-04-27    874.250000
2017-04-28    905.960022
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [138]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341721
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041643
Name: Close, dtype: float64
Date
2017-12-15    41.657742
2017-12-18    42.244408
2017-12-19    41.794231
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843597
2017-12-27    40.850780
2017-12-28    40.965717
2017-12-29    40.522739
Name: Close, dtype: float64

In [139]:
print(gugol.head(5))
print(gugol.tail(10))

Date
2017-01-03    786.140015
2017-01-04    786.900024
2017-01-05    794.020020
2017-01-06    806.150024
2017-01-09    806.650024
Name: Close, dtype: float64
Date
2017-12-15    1064.189941
2017-12-18    1077.140015
2017-12-19    1070.680054
2017-12-20    1064.949951
2017-12-21    1063.630005
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [143]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606277
2017-03-31    33.282220
2017-04-30    33.819264
2017-05-31    36.125684
2017-06-30    35.133983
2017-07-31    35.245242
2017-08-31    37.897229
2017-09-30    37.604738
2017-10-31    37.654551
2017-11-30    41.233915
2017-12-31    41.160037
Freq: M, Name: Close, dtype: float64

In [144]:
mes = gugol.resample('M').mean()
print(mes)

Date
2017-01-31     807.904752
2017-02-28     816.916581
2017-03-31     834.111307
2017-04-30     844.056840
2017-05-31     939.284085
2017-06-30     953.766824
2017-07-31     942.865009
2017-08-31     922.023045
2017-09-30     931.299503
2017-10-31     982.522275
2017-11-30    1030.492844
2017-12-31    1043.653003
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [142]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097734
2017-01-22    28.266118
2017-01-29    28.553981
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [145]:
semana = gugol.resample('W').mean()
print(semana.head())

Date
2017-01-08    793.302521
2017-01-15    806.717993
2017-01-22    804.468750
2017-01-29    826.862000
2017-02-05    798.965002
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [146]:
aapl.resample('M').max()

Date
2017-01-31    28.739212
2017-02-28    32.451973
2017-03-31    34.111134
2017-04-30    34.264984
2017-05-31    37.099129
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129726
2017-09-30    39.141655
2017-10-31    40.332245
2017-11-30    42.050137
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

In [147]:
gugol.resample('M').max()

Date
2017-01-31     835.669983
2017-02-28     831.659973
2017-03-31     852.119995
2017-04-30     905.960022
2017-05-31     975.880005
2017-06-30     983.679993
2017-07-31     980.340027
2017-08-31     939.330017
2017-09-30     959.109985
2017-10-31    1019.270020
2017-11-30    1054.209961
2017-12-31    1077.140015
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [148]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787132
2017-01-09    28.110773
2017-01-12    28.078176
2017-01-15    28.279667
                ...
2017-12-17    42.019320
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886698
2017-12-29    40.522739
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108262
2017-02-19    31.516818
2017-03-05    32.595559
2017-03-19    33.017884
2017-04-02    33.625216
2017-04-16    33.849730
2017-04-30    33.791845
2017-05-14    35.697633
2017-05-28    36.496178
2017-06-11    36.515004
2017-06-25    34.529047
2017-07-09    34.265136
2017-07-23    35.278871
2017-08-06    36.272775
2017-08-20    37.904118
2017-09-03    38.458794
2017-09-17    38.282709
2017-10-01    36.840873
2017-10-15    37.071597
2017-10-29    37.757321
2017-11-12    41.032238
2017-11-26    41.204375
2017-12-10    40.867065
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402613
2018-01-31    41.160037
Freq: 2M, Name: Close, dtype: float64

In [149]:
tres_dias = gugol.resample('3D').mean()
dos_semanas = gugol.resample('2W').mean()
dos_meses = gugol.resample('2M').mean()


print(tres_dias)
print(dos_semanas)
print(dos_meses)

Date
2017-01-03     789.020020
2017-01-06     806.150024
2017-01-09     806.449992
2017-01-12     807.119995
2017-01-15     804.609985
                 ...
2017-12-17    1073.910034
2017-12-20    1062.899984
2017-12-23            NaN
2017-12-26    1051.416667
2017-12-29    1046.400024
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08     793.302521
2017-01-22     805.718330
2017-02-05     812.913501
2017-02-19     815.081995
2017-03-05     829.981120
2017-03-19     841.625000
2017-04-02     827.336005
2017-04-16     828.115546
2017-04-30     858.404004
2017-05-14     927.290991
2017-05-28     945.059998
2017-06-11     973.079997
2017-06-25     951.928015
2017-07-09     920.255561
2017-07-23     953.665002
2017-08-06     939.779016
2017-08-20     919.417993
2017-09-03     923.686005
2017-09-17     928.927782
2017-10-01     932.829999
2017-10-15     972.795001
2017-10-29     985.379004
2017-11-12    1027.571985
2017-11-26    1028.187771
2017-12-10    1024.505005
2017-12-24    1057.204993
2018-01-07    1050.162506
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31     807.904752
2017-03-31     826.332740
2017-05-31     895.154386
2017-07-31     948.575483
2017-09-30     926.337676
2017-11-30    1005.949762
2018-01-31    1043.653003
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [150]:
std1 = gugol.resample('W').std()
max1 = gugol.resample('W').max()
min1 = gugol.resample('W').min()


print(std1)
print(max1)
print(min1)

Date
2017-01-08     9.271221
2017-01-15     1.286577
2017-01-22     1.648152
2017-01-29     6.785008
2017-02-05     2.882899
2017-02-12     4.476093
2017-02-19     3.888738
2017-02-26     1.356907
2017-03-05     4.301519
2017-03-12     5.971306
2017-03-19     2.730815
2017-03-26    13.392346
2017-04-02     5.882941
2017-04-09     5.451000
2017-04-16     0.645758
2017-04-23     2.849201
2017-04-30    16.568690
2017-05-07     8.065152
2017-05-14     2.058548
2017-05-21     8.719065
2017-05-28    12.907173
2017-06-04     5.743123
2017-06-11    14.294068
2017-06-18     5.898889
2017-06-25     5.367715
2017-07-02    17.409210
2017-07-09     8.380824
2017-07-16    11.601406
2017-07-23     7.663487
2017-07-30    17.654578
2017-08-06     3.028084
2017-08-13     9.169523
2017-08-20     7.423927
2017-08-27     8.115862
2017-09-03    10.771394
2017-09-10     4.259703
2017-09-17     5.815036
2017-09-24     7.375925
2017-10-01    16.330452
2017-10-08    11.710768
2017-10-15     7.918404
2017-10-22     3.558963
2017-10-29    21.572126
2017-11-05     6.649262
2017-11-12     5.387203
2017-11-19     5.228673
2017-11-26     9.678139
2017-12-03    18.848620
2017-12-10    16.344819
2017-12-17    10.225138
2017-12-24     6.685706
2017-12-31     4.551121
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     806.150024
2017-01-15     807.909973
2017-01-22     806.070007
2017-01-29     835.669983
2017-02-05     802.320007
2017-02-12     813.669983
2017-02-19     828.070007
2017-02-26     831.659973
2017-03-05     835.239990
2017-03-12     843.250000
2017-03-19     852.119995
2017-03-26     848.400024
2017-04-02     831.500000
2017-04-09     838.549988
2017-04-16     824.729980
2017-04-23     843.190002
2017-04-30     905.960022
2017-05-07     931.659973
2017-05-14     934.299988
2017-05-21     943.000000
2017-05-28     971.469971
2017-06-04     975.880005
2017-06-11     983.679993
2017-06-18     953.400024
2017-06-25     965.590027
2017-07-02     952.270020
2017-07-09     918.590027
2017-07-16     955.989990
2017-07-23     972.919983
2017-07-30     980.340027
2017-08-06     930.830017
2017-08-13     929.359985
2017-08-20     926.960022
2017-08-27     927.000000
2017-09-03     939.330017
2017-09-10     935.950012
2017-09-17     935.090027
2017-09-24     932.450012
2017-10-01     959.109985
2017-10-08     978.890015
2017-10-15     989.679993
2017-10-22     992.809998
2017-10-29    1019.270020
2017-11-05    1032.479980
2017-11-12    1039.849976
2017-11-19    1032.500000
2017-11-26    1040.609985
2017-12-03    1054.209961
2017-12-10    1037.050049
2017-12-17    1064.189941
2017-12-24    1077.140015
2017-12-31    1056.739990
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     786.140015
2017-01-15     804.789978
2017-01-22     802.174988
2017-01-29     819.309998
2017-02-05     795.695007
2017-02-12     801.340027
2017-02-19     818.979980
2017-02-26     828.640015
2017-03-05     823.210022
2017-03-12     827.780029
2017-03-19     845.539978
2017-03-26     814.429993
2017-04-02     819.510010
2017-04-09     824.669983
2017-04-16     823.349976
2017-04-23     836.820007
2017-04-30     862.760010
2017-05-07     912.570007
2017-05-14     928.780029
2017-05-21     919.619995
2017-05-28     941.859985
2017-06-04     964.859985
2017-06-11     949.830017
2017-06-18     939.780029
2017-06-25     950.630005
2017-07-02     908.729980
2017-07-09     898.700012
2017-07-16     928.799988
2017-07-23     953.419983
2017-07-30     934.090027
2017-08-06     923.650024
2017-08-13     907.239990
2017-08-20     910.669983
2017-08-27     906.659973
2017-09-03     913.809998
2017-09-10     926.500000
2017-09-17     920.289978
2017-09-24     915.000000
2017-10-01     920.969971
2017-10-08     951.679993
2017-10-15     972.599976
2017-10-22     984.450012
2017-10-29     968.450012
2017-11-05    1016.640015
2017-11-12    1025.900024
2017-11-19    1019.090027
2017-11-26    1018.380005
2017-12-03    1010.169983
2017-12-10     998.679993
2017-12-17    1040.479980
2017-12-24    1060.119995
2017-12-31    1046.400024
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [151]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597813
2017-02-28    32.423557
2017-03-31    34.002262
2017-04-30    33.999886
2017-05-31    36.305332
2017-06-30    34.228165
2017-07-31    35.347549
2017-08-31    39.129726
2017-09-30    36.772396
2017-10-31    40.332245
2017-11-30    41.150105
2017-12-31    40.522739
Freq: M, Name: Close, dtype: float64

In [152]:
last_day1 = gugol.resample('M').agg(lambda x: x[-1])
print(last_day1)

Date
2017-01-31     796.789978
2017-02-28     823.210022
2017-03-31     829.559998
2017-04-30     905.960022
2017-05-31     964.859985
2017-06-30     908.729980
2017-07-31     930.500000
2017-08-31     939.330017
2017-09-30     959.109985
2017-10-31    1016.640015
2017-11-30    1021.409973
2017-12-31    1046.400024
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [153]:
monthly_return1 = gugol.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return1)

Date
2017-01-31    0.013547
2017-02-28    0.034580
2017-03-31   -0.006800
2017-04-30    0.080389
2017-05-31    0.057300
2017-06-30   -0.060210
2017-07-31    0.035384
2017-08-31    0.009132
2017-09-30    0.023225
2017-10-31    0.066476
2017-11-30   -0.003988
2017-12-31    0.035865
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

In [154]:
print(monthly_return1.mean())
print(monthly_return1.std())
print(monthly_return1.max())

0.023741652267563317
0.03769325954470389
0.08038880825352845

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [155]:
print(last_day1.diff())
print(last_day1.pct_change())

Date
2017-01-31          NaN
2017-02-28    26.420044
2017-03-31     6.349976
2017-04-30    76.400024
2017-05-31    58.899963
2017-06-30   -56.130005
2017-07-31    21.770020
2017-08-31     8.830017
2017-09-30    19.779968
2017-10-31    57.530029
2017-11-30     4.769958
2017-12-31    24.990051
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [158]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [156]:
daily_return1 = last_day1.pct_change()
print(daily_return1.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [159]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [160]:
daily_return1 = last_day1.pct_change()
print(daily_return1.fillna(method = 'bfill'))

Date
2017-01-31    0.033158
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [161]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [162]:
daily_return1 = last_day1.pct_change()
daily_return1.dropna()

Date
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [166]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [167]:
dict1 = {'AAPL': [221.6, 144.09, 359.1, 44.18, 243.77],'GOOG':[698.7, 911.71, 666.6, 555.5, 426.99],
        'IBM':[111.1, 222.2, 152.36, 352.94, 53.49]}
data_index1 = pd.date_range('2018-01-14',periods = 5, freq = 'D')
df1 = pd.DataFrame(dict1, index = data_index1)
print(df1)

              AAPL    GOOG     IBM
2018-01-14  221.60  698.70  111.10
2018-01-15  144.09  911.71  222.20
2018-01-16  359.10  666.60  152.36
2018-01-17   44.18  555.50  352.94
2018-01-18  243.77  426.99   53.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [170]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843597
2017-12-27    40.850780
2017-12-28    40.965717
2017-12-29    40.522739
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [168]:
df1 = gugol_table
print(df1.Close.tail(5))
print(df1['Volume'].tail(5))

Date
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, dtype: float64
Date
2017-12-22     755100
2017-12-26     760600
2017-12-27    1271900
2017-12-28     837100
2017-12-29     887500
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [171]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852384  22.440247  21.750948  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431522  25.473243  25.236821  ...  103553600        0.0             0
2016-04-30  21.785535  21.954739  21.442493  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023110  22.333260  21.990462  ...  143345600        0.0             0
2016-07-31  24.296778  24.380729  24.177847  ...  110934800        0.0             0
2016-08-31  24.773059  24.986417  24.768369  ...  118649600        0.0             0
2016-09-30  26.367384  26.580743  26.212641  ...  145516400        0.0             0
2016-10-31  26.646398  26.782385  26.540890  ...  105677600        0.0             0
2016-11-30  26.300088  26.441486  25.986654  ...  144649200        0.0             0
2016-12-31  27.490197  27.619811  27.202687  ...  122345200        0.0             0

[12 rows x 7 columns]

In [172]:
gugol_2016 = df1['2016']
gugol_month = gugol_2016.resample('M').agg(lambda x: x[-1])
print(gugol_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2016-01-31  731.530029  744.989990  ...          0             0
2016-02-29  700.320007  710.890015  ...          0             0
2016-03-31  749.250000  750.849976  ...          0             0
2016-04-30  690.700012  697.619995  ...          0             0
2016-05-31  731.739990  739.729980  ...          0             0
2016-06-30  685.469971  692.320007  ...          0             0
2016-07-31  772.710022  778.549988  ...          0             0
2016-08-31  767.010010  769.090027  ...          0             0
2016-09-30  776.330017  780.940002  ...          0             0
2016-10-31  795.469971  796.859985  ...          0             0
2016-11-30  770.070007  772.989990  ...          0             0
2016-12-31  782.750000  782.780029  ...          0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [173]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023110  22.333260  21.990462  22.293617
2016-07-31  24.296778  24.380729  24.177847  24.301441
2016-08-31  24.773059  24.986417  24.768369  24.876221
2016-09-30  26.367384  26.580743  26.212641  26.505716
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490197  27.619811  27.202687  27.294596

In [174]:
gugol_bar = gugol_month[['Open', 'High', 'Low', 'Close']]
print(gugol_bar)

                  Open        High         Low       Close
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012
2016-02-29  700.320007  710.890015  697.679993  697.770020
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-04-30  690.700012  697.619995  689.000000  693.010010
2016-05-31  731.739990  739.729980  731.260010  735.719971
2016-06-30  685.469971  692.320007  683.650024  692.099976
2016-07-31  772.710022  778.549988  766.770020  768.789978
2016-08-31  767.010010  769.090027  765.380005  767.049988
2016-09-30  776.330017  780.940002  774.090027  777.289978
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [175]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023110  22.333260  21.990462  22.293617

In [176]:
print(gugol_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                  Open        High         Low       Close
Date
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-04-30  690.700012  697.619995  689.000000  693.010010
2016-05-31  731.739990  739.729980  731.260010  735.719971
2016-06-30  685.469971  692.320007  683.650024  692.099976

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [177]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-08-31  24.773059  24.986417  24.768369  24.876221
2016-09-30  26.367384  26.580743  26.212641  26.505716
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490197  27.619811  27.202687  27.294596

In [178]:
above1 = gugol_bar[gugol_bar.Close > np.mean(gugol_bar.Close)]
print(above1)

                  Open        High         Low       Close
Date
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-07-31  772.710022  778.549988  766.770020  768.789978
2016-08-31  767.010010  769.090027  765.380005  767.049988
2016-09-30  776.330017  780.940002  774.090027  777.289978
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [179]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [180]:
gugol_bar['rate_return'] = gugol_bar.Close.pct_change()
print(gugol_bar)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [182]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [183]:
missing1 = gugol_bar.isnull()
print(missing1)
print('---------------------------------------------')
print(missing1.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [184]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [185]:
print(missing1[missing1.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [186]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247     0.000000
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955

In [187]:
drop1 = gugol_bar.dropna()
print(drop1)
print('\n--------------------------------------------------\n')
fill1 = gugol_bar.fillna(0)
print(fill1)

                  Open        High         Low       Close  rate_return
Date
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012     0.000000
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [188]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [189]:
s3 = pd.Series([111.1, 222.2, 152.36, 352.94, 53.49], name = 'IBM')
s4 = pd.Series([398.7, 91.71, 96.69, 118.59, 526.99], name = 'ALM')
data_frame1 = pd.concat([s3,s4], axis = 1)
print(data_frame1)

      IBM     ALM
0  111.10  398.70
1  222.20   91.71
2  152.36   96.69
3  352.94  118.59
4   53.49  526.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [190]:
log_price1 = np.log(gugol_bar.Close)
log_price1.name = 'log_price'
print(log_price1)
print('\n---------------------- separate line--------------------\n')
concat1 = pd.concat([gugol_bar, log_price1], axis = 1)
print(concat1)

Date
2016-01-31    6.610629
2016-02-29    6.547890
2016-03-31    6.613317
2016-04-30    6.541044
2016-05-31    6.600850
2016-06-30    6.539730
2016-07-31    6.644818
2016-08-31    6.642552
2016-09-30    6.655813
2016-10-31    6.665098
2016-11-30    6.630736
2016-12-31    6.648751
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2016-01-31  731.530029  744.989990  ...          NaN   6.610629
2016-02-29  700.320007  710.890015  ...    -0.060812   6.547890
2016-03-31  749.250000  750.849976  ...     0.067615   6.613317
2016-04-30  690.700012  697.619995  ...    -0.069723   6.541044
2016-05-31  731.739990  739.729980  ...     0.061630   6.600850
2016-06-30  685.469971  692.320007  ...    -0.059289   6.539730
2016-07-31  772.710022  778.549988  ...     0.110808   6.644818
2016-08-31  767.010010  769.090027  ...    -0.002263   6.642552
2016-09-30  776.330017  780.940002  ...     0.013350   6.655813
2016-10-31  795.469971  796.859985  ...     0.009327   6.665098
2016-11-30  770.070007  772.989990  ...    -0.033778   6.630736
2016-12-31  782.750000  782.780029  ...     0.018178   6.648751

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [193]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490197  27.619811  27.202687  27.294596
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444858  32.530065  32.354916  32.423557
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104028  34.153733  33.909947  33.999886

In [191]:
df_volume1 = gugol_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume1)
print('\n---------------------- separate line--------------------\n')
df_20171 = gugol_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_20171)

             Volume  Stock Splits
Date
2016-10-31  2427300             0
2016-11-30  2392900             0
2016-12-31  1770000             0
2017-01-31  2160600             0
2017-02-28  2260800             0
2017-03-31  1401900             0
2017-04-30  3276300             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007
2017-01-31  796.859985  801.250000  790.520020  796.789978
2017-02-28  825.609985  828.539978  820.200012  823.210022
2017-03-31  828.969971  831.640015  827.390015  829.559998
2017-04-30  910.659973  916.849976  905.770020  905.960022

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [194]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852384  22.440247  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431522  25.473243  ...          NaN           NaN
2016-04-30  21.785535  21.954739  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023110  22.333260  ...          NaN           NaN
2016-07-31  24.296778  24.380729  ...          NaN           NaN
2016-08-31  24.773059  24.986417  ...          NaN           NaN
2016-09-30  26.367384  26.580743  ...          NaN           NaN
2016-10-31  26.646398  26.782385  ...  105677600.0           0.0
2016-11-30  26.300088  26.441486  ...  144649200.0           0.0
2016-12-31  27.490197  27.619811  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [195]:
concat1 = pd.concat([gugol_bar, df_volume1], axis = 1)
print(concat1)

                  Open        High  ...     Volume  Stock Splits
Date                                ...
2016-01-31  731.530029  744.989990  ...        NaN           NaN
2016-02-29  700.320007  710.890015  ...        NaN           NaN
2016-03-31  749.250000  750.849976  ...        NaN           NaN
2016-04-30  690.700012  697.619995  ...        NaN           NaN
2016-05-31  731.739990  739.729980  ...        NaN           NaN
2016-06-30  685.469971  692.320007  ...        NaN           NaN
2016-07-31  772.710022  778.549988  ...        NaN           NaN
2016-08-31  767.010010  769.090027  ...        NaN           NaN
2016-09-30  776.330017  780.940002  ...        NaN           NaN
2016-10-31  795.469971  796.859985  ...  2427300.0           0.0
2016-11-30  770.070007  772.989990  ...  2392900.0           0.0
2016-12-31  782.750000  782.780029  ...  1770000.0           0.0
2017-01-31         NaN         NaN  ...  2160600.0           0.0
2017-02-28         NaN         NaN  ...  2260800.0           0.0
2017-03-31         NaN         NaN  ...  1401900.0           0.0
2017-04-30         NaN         NaN  ...  3276300.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [196]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646398  26.782385  ...  105677600             0
2016-11-30  26.300088  26.441486  ...  144649200             0
2016-12-31  27.490197  27.619811  ...  122345200             0

[3 rows x 7 columns]

In [197]:
concat1 = pd.concat([gugol_bar,df_volume1],axis = 1, join = 'inner')
print(concat1)

                  Open        High  ...   Volume  Stock Splits
Date                                ...
2016-10-31  795.469971  796.859985  ...  2427300             0
2016-11-30  770.070007  772.989990  ...  2392900             0
2016-12-31  782.750000  782.780029  ...  1770000             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [198]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955
2016-10-31  26.646398  26.782385  26.540890  26.620607          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490197  27.619811  27.202687  27.294596          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444858  32.530065  32.354916  32.423557          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [199]:
append1 = gugol_bar.append(df_20171)
print(append1)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178
2016-10-31  795.469971  796.859985  784.000000  784.539978          NaN
2016-11-30  770.070007  772.989990  754.830017  758.039978          NaN
2016-12-31  782.750000  782.780029  770.409973  771.820007          NaN
2017-01-31  796.859985  801.250000  790.520020  796.789978          NaN
2017-02-28  825.609985  828.539978  820.200012  823.210022          NaN
2017-03-31  828.969971  831.640015  827.390015  829.559998          NaN
2017-04-30  910.659973  916.849976  905.770020  905.960022          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [202]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004335
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955
2016-10-31  26.646398  26.782385  26.540890  26.620607          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490197  27.619811  27.202687  27.294596          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444858  32.530065  32.354916  32.423557          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [201]:
concat1 = pd.concat([gugol_bar, df_20171], axis = 0)
print(concat1)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178
2016-10-31  795.469971  796.859985  784.000000  784.539978          NaN
2016-11-30  770.070007  772.989990  754.830017  758.039978          NaN
2016-12-31  782.750000  782.780029  770.409973  771.820007          NaN
2017-01-31  796.859985  801.250000  790.520020  796.789978          NaN
2017-02-28  825.609985  828.539978  820.200012  823.210022          NaN
2017-03-31  828.969971  831.640015  827.390015  829.559998          NaN
2017-04-30  910.659973  916.849976  905.770020  905.960022          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [203]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN        NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288        NaN
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211        NaN
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660        NaN
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063        NaN
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652        NaN
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504        NaN
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004335        NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601        NaN
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955        NaN
2016-10-31        NaN  26.782385  26.540890  26.620607          NaN  26.646398
2016-11-30        NaN  26.441486  25.986654  26.045570          NaN  26.300088
2016-12-31        NaN  27.619811  27.202687  27.294596          NaN  27.490197
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530065  32.354916  32.423557          NaN  32.444858
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153733  33.909947  33.999886          NaN  34.104028

In [204]:
df_20171.columns = ['Change', 'High','Low','Close']
concat1 = pd.concat([gugol_bar, df_20171], axis = 0)
print(concat1)

                  Open        High  ...  rate_return      Change
Date                                ...
2016-01-31  731.530029  744.989990  ...          NaN         NaN
2016-02-29  700.320007  710.890015  ...    -0.060812         NaN
2016-03-31  749.250000  750.849976  ...     0.067615         NaN
2016-04-30  690.700012  697.619995  ...    -0.069723         NaN
2016-05-31  731.739990  739.729980  ...     0.061630         NaN
2016-06-30  685.469971  692.320007  ...    -0.059289         NaN
2016-07-31  772.710022  778.549988  ...     0.110808         NaN
2016-08-31  767.010010  769.090027  ...    -0.002263         NaN
2016-09-30  776.330017  780.940002  ...     0.013350         NaN
2016-10-31  795.469971  796.859985  ...     0.009327         NaN
2016-11-30  770.070007  772.989990  ...    -0.033778         NaN
2016-12-31  782.750000  782.780029  ...     0.018178         NaN
2016-10-31         NaN  796.859985  ...          NaN  795.469971
2016-11-30         NaN  772.989990  ...          NaN  770.070007
2016-12-31         NaN  782.780029  ...          NaN  782.750000
2017-01-31         NaN  801.250000  ...          NaN  796.859985
2017-02-28         NaN  828.539978  ...          NaN  825.609985
2017-03-31         NaN  831.640015  ...          NaN  828.969971
2017-04-30         NaN  916.849976  ...          NaN  910.659973

[19 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.